<meta charset="utf-8">

<!-- Enable IE Standards mode -->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title></title>
<meta name="description" content="">
<meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: aliceblue;
        padding: 5%;
}
</style>
</head>